Repository secretsites/RLinf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andylin-hao, @zhexuanxu, @XuS1994, @guozhen1997, @Lin-xs, @i-Taozi, @Louis-J

.github/CODEOWNERS:

/.github @andylin-hao
/docker @andylin-hao
/docs @zhexuanxu

/examples/embodiment @XuS1994 @guozhen1997
/examples/math @guozhen1997 @andylin-hao @Lin-xs

/ray_utils @Lin-xs
/requirements @andylin-hao

/rlinf/algorithms @guozhen1997 @XuS1994

/rlinf/data @guozhen1997 @Lin-xs @andylin-hao

/rlinf/envs @guozhen1997 @XuS1994

/rlinf/hybrid_engines/fsdp @XuS1994 @guozhen1997
/rlinf/hybrid_engines/megatron @guozhen1997
/rlinf/hybrid_engines/sglang @Lin-xs @andylin-hao
/rlinf/hybrid_engines/vllm @Lin-xs @andylin-hao

/rlinf/models @guozhen1997

/rlinf/runners @guozhen1997 @XuS1994 @andylin-hao

/rlinf/scheduler @andylin-hao

/rlinf/utils @guozhen1997 @Lin-xs @andylin-hao

/rlinf/workers/actor/fsdp_actor_worker.py @XuS1994 @guozhen1997
/rlinf/workers/actor/megatron_actor_worker.py @guozhen1997 @andylin-hao
/rlinf/workers/env @XuS1994
/rlinf/workers/inference @andylin-hao
/rlinf/workers/rollout/hf @XuS1994 @guozhen1997
/rlinf/workers/rollout/sglang @Lin-xs @andylin-hao
/rlinf/workers/rollout/vllm @Lin-xs @andylin-hao
/rlinf/workers/rollout/utils.py @Lin-xs @andylin-hao
/rlinf/config.py @guozhen1997 @andylin-hao @XuS1994 @Lin-xs

/tests @andylin-hao
/toolkits/auto_placement @i-Taozi
/toolkits/ckpt_convertor @Louis-J

/.pre-commit-config.yaml @andylin-hao
/pyproject.toml @andylin-hao
/README.md @zhexuanxu

feat(RoboTwin): support new env (#79)
  examples/embodiment/config/env/eval/place_shoe.yaml
  examples/embodiment/config/env/train/place_shoe.yaml
  examples/embodiment/config/robotwin_ppo_openvlaoft.yaml
  rlinf/envs/action_utils.py
  rlinf/envs/libero/__init__.py
  rlinf/envs/maniskill/tasks/put_carrot_on_plate.py
  rlinf/envs/robotwin/README.md
  rlinf/envs/robotwin/RoboTwin_env.py
  rlinf/envs/robotwin/__init__.py
  rlinf/envs/robotwin/test_robotwin.py
  rlinf/models/embodiment/model_utils.py
  rlinf/models/embodiment/openvla_action_model.py
  rlinf/models/embodiment/openvla_oft_action_model.py
  rlinf/models/embodiment/prismatic/processing_prismatic.py
  rlinf/workers/env/env_worker.py
Owners: @XuS1994, @guozhen1997

fix: remove unnecessary cuda init during worker init and CPU comm (#106)
  rlinf/config.py
  rlinf/scheduler/collective/async_work.py
  rlinf/scheduler/collective/collective_group.py
  rlinf/scheduler/manager/worker_manager.py
  rlinf/scheduler/worker/worker.py
Owners: @guozhen1997, @andylin-hao, @XuS1994, @Lin-xs

chore/update-overview-pictures-in-README-and-docs
  docs/source-en/_static/svg/overview.svg
  docs/source-zh/_static/svg/overview.svg
Owners: @zhexuanxu

1
  docs/source-zh/_static/svg/overview.svg
Owners: @zhexuanxu

chore/add main results to README
  README.md
Owners: @zhexuanxu

chore/update the overview diagram in README and docs
  docs/source-en/_static/svg/overview.svg
  docs/source-zh/_static/svg/overview.svg
Owners: @zhexuanxu

chore/add main results to README and docs
  README.md
Owners: @zhexuanxu

chore:update the README and docs
  docs/source-en/_static/svg/overview.svg
Owners: @zhexuanxu

chore:Optimize tables in README and docs
  README.md
  docs/source-en/_static/svg/hf-logo.svg
  docs/source-en/rst_source/examples/embodied.rst
  docs/source-en/rst_source/examples/reasoning.rst
  docs/source-zh/_static/svg/hf-logo.svg
  docs/source-zh/rst_source/examples/embodied.rst
  docs/source-zh/rst_source/examples/reasoning.rst
Owners: @zhexuanxu

chore: update the README and docs
  docs/source-en/_static/svg/overview.svg
Owners: @zhexuanxu

chore: add link for MLP-Policy in README
  README.md
  README.zh-CN.md
Owners: @zhexuanxu
